
.advantages {
    &__inner {
        margin-top: 184px;
        text-align: center;
    }
    &__title {
        @extend %title;
        line-height: 46px;
        font-size: 38px;
    }
    &__text {
        display: inline-block;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.8;
        max-width: 820px;
        margin-top: 19px;
    }
    &__items {
        margin-top: 124px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        column-gap: 22px;
    }
    &__item {
        min-width: 373px;
        text-align: left;
        border-radius: 30px;
        transition: all .3s;
        padding: 46px 32px 32px 53px;
    }
    &__item:hover{
        background-color: #f8f7fc;
        
    }
    &__item-logo{
        margin-bottom: 22px;
    }
    &__item-title {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #080940;
        opacity: 0.8;
    }
    &__item-text {
        display: inline-block;
        margin-top: 9px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #080940;
        opacity: 0.5;
        width: 288px;
    }
}

@media (max-width: 1200px) {
    .advantages__items {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 55px;
    }
    .advantages__item {
        margin: 0 auto;
        max-width: 373px;
    }
}
@media (max-width: 800px) {
    .advantages__inner {
        margin-top: 95px;

    }
    .advantages__items {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        margin-top: 55px;
    }
}