.instruction {
    margin-top: 212px;
    &__inner {
        position: relative;
        display: flex;
        gap: 63px;
    }
    &__content {
        max-width: 468px;
    }
    &__title {
        @extend %title;
        font-size: 38px;
        line-height: 46px;
    }
    &__subtitle {
        font-size: 20px;
        line-height: 24px;
        opacity: 0.8;
        @extend %title;
        color: #020202;
        max-width: 270px;
        margin: 37px 0;
    }
    &__text {
        font-size: 14px;
        line-height: 17px;
        opacity: 0.8;
        color: #020202;
    }
    &__text p {
        display: block;
        padding-bottom: 20px;
    }
    &__step1 {
        margin-top: -25px;
        width: 248px;
        height: 258px;
        background-color: #FFF7E4;
        border-radius: 35px;
        position: relative;
        &-number {
            transform: translateX(-50%);
            position: absolute;
            top: 32px;          
        }
        &-circle {
            transform: translateX(12px);
            right: 0;
            position: absolute;
            top: 90px;   
        }
        &-content {
            margin-left: 44px;
        }
        &-logo {
            padding-top: 27px;
        }
        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #080940;
            max-width: 139px;
            padding: 19px 0 13px;
        }
        &-text {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #080940;
            opacity: 0.6;
            max-width: 201px;
            
        }
    }
    &__step2 {
        width: 248px;
        height: 258px;
        background-color: #ECEDFF;
        border-radius: 35px;
        position: relative;
        margin-left: 36px;
        margin-top: 26px;
        &-number {
            transform: translateX(-23px);
            position: absolute;
            top: 32px;          
        }
        &-circle {
            transform: translateX(10px);
            right: 0;
            position: absolute;
            top: 165px;   
        }
        &-content {
            margin-left: 35px;
        }
        &-logo {
            padding-top: 51px;
        }
        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #080940;
            max-width: 139px;
            padding: 19px 0 13px;
        }
        &-text {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #080940;
            opacity: 0.6;
            max-width: 191px;
            
        }
    }
    &__step3 {
        margin-left: 310px;
        width: 248px;
        height: 258px;
        background-color: #FEE7F3;
        border-radius: 35px;
        position: absolute;
        top: 132px;
        &-number {
            transform: translateX(-10px);
            position: absolute;
            top: 32px;          
        }
        &-circle {
            transform: translateX(50%);
            right: 0;
            position: absolute;
            top: 165px;   
        }
        &-content {
            margin-left: 44px;
        }
        &-logo {
            padding-top: 27px;
            margin-left: 16px;
        }
        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #080940;
            max-width: 139px;
            padding: 19px 0 13px;
        }
        &-text {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #080940;
            opacity: 0.6;
            max-width: 201px;
            
        }
    }
}

@media (max-width: 1165px) {
    .instruction__inner {
        flex-direction: column;
        align-items: center;
    }
    .instruction__steps {
        justify-content: center;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }
    .instruction__step1 {
        margin-left: 20px;
        margin-right: 0;
        margin-top: 0;
    }
    .instruction__step2 {
        margin-left: 20px;
        margin-top: 0;
        margin-left: 0;
        top: 0;
    }
    .instruction__step3 {
        margin-left: 20px;
        position: relative;
        top: 0;
    }
    .instruction__content {
        max-width: 1200px;
        text-align: center;
    }
    .instruction__subtitle {
        max-width: 1200px;
        margin: 20px 0;
    }
    .instruction__text {
        max-width: 695px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 900px) { 
    .instruction {
        margin-top: 90px;
    }
}