.offer {
    margin-top: 303px;
    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__content {
        max-width: 500px;
    }
    &__title {
        margin-bottom: 56px;
        max-width: 368px;
        @extend %title;
        font-size: 38px;
        line-height: 46px;
    }
    &__subtitle {
        color: #545AEE;
        font-weight: 700;
        margin-bottom: 54px;
        font-size: 14px;
        line-height: 17px;
    }
    &__text-title {
        color: #FF014E;
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 22px;
    }
    &__text {
        font-size: 14px;
        line-height: 17px;
        color: #080940;
    }
    &__cards {
        position: relative;
        z-index: 10;
    }
    &__bg-dots {
        position: absolute;
        right: 150px;
        top: -65%;
    }
    &__bg-dots-big {
        position: absolute;
        left: 80px;
        top: -75px;
    }
}

/* MEDIA QUERIES */
@media (max-width:868px) {   
    .offer {
        margin-top: 200px;
    }
    .offer__title {
        margin-bottom: 19px;
        max-width: 370px;
        font-size: 27px;
        line-height: 35px;
    }
    .offer__subtitle {
        margin-bottom: 25px;
        font-size: 13px;
        line-height: 17px;
        max-width: 370px;
    }
    .offer__text-title {
        margin-bottom: 13px;
        font-size: 16px;
    }
    .offer__text {
        max-width: 370px;
    }
}

@media (max-width: 678px) { 
    .offer {
        margin-top: 100px;
    }
    .offer__bg-dots {
        display: none;
    }
    
}  
@media (max-width: 550px) {
    .offer__inner {
        justify-content: center;
    }
    .offer__cards, .offer__bg-dots-big {
        display: none;
    }

}